.app {
    width: 100%;
    min-width: 800px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100vh;
    padding: 16px;
}
  
.header {
    text-align: center;
    color: light-dark(#ffffff, #212121);;
}
  
.logo {
    width: 64px;
    height: 64px;
}
  
.title {
    margin: 0;
}
  
.chatContainer {
    flex-grow: 1;
    width: 100%;
    background: light-dark(#ffffff, #212121);
    border-radius: 16px;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 0;
  }
}